<footer class="footer-makers">
  <div class="container-fluid footer-strong">
    <p class="footer-strong__image">Communities Summit Brazil: Be open and grow together</p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
  window.jQuery || document.write('<script src="http://getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')
</script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>