<header class="navbar navbar-maker navbar-fixed-top">
  <nav class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Navegue por aqui</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-maker__brand" href="{{ "/" | prepend: site.baseurl }}" title="Communities Summit Brazil">
        <img src="{{ "/img/" | prepend: site.baseurl }}comsumbr.png" title="Communities Summit Brazil" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#ct-sobre" class="navbar-nav__link navigationct">Sobre</a></li>
          <li><a href="#ct-agenda" class="navbar-nav__link navigationct">Agenda</a></li>
          <li><a href="#ct-local" class="navbar-nav__link navigationct">Local</a></li>
          <li><a href="http://pt-br.confcodeofconduct.com/" class="navbar-nav__link" target="_blank">Código de Conduta</a></li>
          <li><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR5DSKLQWjmNDruBCExjHZZ9UMzNNNjREV0dFVVA2VFlURU1FSFFIS09UUC4u" class="navbar-nav__link nav-insc" target="_blank">Inscreva-se</a></li>
      </ul>
    </div>
  </nav>
</header>
